<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>study webpack5</title>
    <meta name="description" content="Webpack5の設定の仕方をいろいろ試しています" />

    <!-- ogp -->
    <!-- <meta property="og:admins" content="（FBのID）" /> -->
    <!-- <meta property="og:title" content="ページのタイトル" /> -->
    <!-- <meta property="og:type" content="website or article" /> -->
    <!-- <meta property="og:description" content="ページの説明" /> -->
    <!-- <meta property="og:url" content="URL" /> -->
    <!-- <meta property="og:image" content="URL" /> -->
    <!-- <meta property="og:locale" content="ja_JP" /> -->
    <!-- <meta property="og:site_name" content="サイト名" / -->

    <!-- <meta name="twitter:card" content="（カード種類）"> -->
    <!-- <meta name="twitter:site" content="（@Twitterユーザー名）"> -->
    <!-- <meta name="twitter:description" content="ページの説明" /> -->
    <!-- <meta name="twitter:image:src" content="URL" /> -->

    <!-- favicon/webclipicon -->
    <!-- <link rel="icon" href="favicon.ico" /> -->
    <!-- <link rel="icon" href="favicon.svg" type="image/svg+xml" /> -->
    <!-- <link rel="apple-touch-icon-precomposed" href="（アップルタッチアイコンの画像URL）" /> -->

    <!-- 組織でFacebookページを持っている場合使う -->
    <!-- <meta property="fb:app_id" content="AppID"> -->

    <!-- 場合によって必要 -->
    <!-- <link rel="canonical" href="（正しいページURL）" /> -->
    <!-- <meta name="robots" content="index,follow"> -->
    <!-- <meta name="robots" content="noindex,nofollow"> -->
    <!-- RSS -->
    <!-- <link rel="alternate" type="application/rss+xml" title="（フィード）" href="（フィードページのURL）" /> -->

    <!-- 必須ではない -->
    <!-- <meta name="format-detection" content="email=no,telephone=no,address=no" /> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!-- <meta http-equiv="refresh" content="（秒数）;url=（リンク先のURL）"> --> 

    <!-- （googleアナリティクスを入れる箇所①） -->
  </head>
  <body>
    <!-- ページ全体 -->
    <div id="root">
    </div>
  </body>
</html>