@font-face {
    font-family: 'cinecaption226';
    src: url('@font/cinecaption226.ttf');
}

@font-face {
    font-family: 'ReggaeOne-Regular';
    src: url('@font/ReggaeOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {

}

h1 {
    font-family: 'ReggaeOne-Regular';
    font-size: 8rem;
}

h2 {
    font-family: 'cinecaption226';
    font-size: 4rem;
}
